{% extends "headerNfooter.html" %}
{% block content %}
{% load static %}
<div class="main-home-body">
    <div class="editorial">
        <h2>Editorial</h2>
        <hr>
        {% for n in editorialData %}
        <a href="/editorial/{{n.editorial_slug}}" class="no-underline">
        <div class="editorial-news">
            <p>{{n.editorial_heading|truncatewords:10}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
    <div class="top-news">
        <h2>Top News</h2>
        <hr>
        {% for n in topNewsData %}
        <a href="/top_news/{{n.slug}}" class="no-underline"> 
            <div class="sub-top-news">
                <div class="top-news-text no-underline">
                    <h3>{{n.topNews_heading|truncatewords:15}}</h3>
                    <p style="color: #00B1CD; font-weight: 600;">{{n.topNews_category}}</p>
                </div>
                <div class="top-news-image">
                    <img src="/media/{{n.topNews_image}}" alt="{{n.topNews_heading}}">
                </div>
            </div> 
        </a>
        {% endfor %}
    </div>
    <div class="sports">
        <h2>Sports</h2>
        <hr>
        {% for n in sportData %}
        <a href="/sports/{{n.sports_slug}}" class="no-underline">
        <div class="sports-news no-underline">
            <p>{{n.sports_heading|truncatewords:10}}</p>
        </div>
        </a>
        {% endfor %}
    </div>
</div>  
    
{% endblock %}