<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes 1</title>
    <link rel="stylesheet" href="/urbanTrend/static/Css/buyPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/urbanTrend/static/images/Urban-trend.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/urbanTrend/static/Css/glider.min.css">
</head>
<body>
    <section class="banner_header">
        <div class="logo">
            <img src="/urbanTrend/static/images/UrbanTrend Logo blk.svg" alt="Urban_Trend_Logo">
            <span id="urban">Urban</span>
            <span id="trend">Trend</span>
        </div>
        <a href="https://www.youtube.com/shorts/SXHMnicI6Pg" target="_blank" class="link">
            <div id="signin">
                <img src="/urbanTrend/static/images/Cart Black.svg" alt="add-to-cart" style="padding-right: 10px;-webkit-user-drag: none;">
                <span>Sign in</span>
            </div>
        </a>
    </section>

    <section class="main-area">
        <div class="product-area">
            <div>
                <div class="p-img">
                    <div class="p-container">
                        <img class="first" src="/urbanTrend/static/images/61Y3SUoyeHL._SY575_.jpg" alt="">
                        <img id="second" src="/urbanTrend/static/images/61p2KLSuORL._SY675_.jpg" alt="">
                        <img class="third" src="/urbanTrend/static/images/71rwnMa5ktL._SY675_.jpg" alt="">
                        <img class="fourth" src="/urbanTrend/static/images/61x+0dtoHML._SY675_.jpg" alt="">
                    </div>
                </div>
                <div class="p-views">
                    <div class="view-1">
                        <img src="/urbanTrend/static/images/61p2KLSuORL._SY675_.jpg" alt="">
                    </div>
                    <div class="view-2">
                        <img src="/urbanTrend/static/images/71rwnMa5ktL._SY675_.jpg" alt="">
                    </div>
                    <div class="view-3">
                        <img src="/urbanTrend/static/images/61x+0dtoHML._SY675_.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="p-details">
                <h2 class="p-title">Nike Mens Mc Trainer 2 Men's Workout ShoesRunning Shoes</h2>
                <span class="mrp">MRP</span>
                <span class="p-price">₹2000</span>
                <button class="buy-now">Buy Now</button>
                <p class="p-info"><span>Manufacturer : </span>NIKE INDIA PVT LTD</p>
                <p class="p-info"><span>Country of Origin : </span>Vietnam</p>
                <p class="p-info"><span>Item model number : </span>DM0823-003</p>
            </div>
        </div>
    </section>

    <footer>
        <div id="nav-bar">
            <ul>
                <li class="footer-title" id="shop">Shop</li>
                <br>
                <br>
                <a href="#" class="link">
                    <li>Men</li>
                    <li>Women</li>
                    <li>Kids</li>
                    <li>Unisex</li>
                </a>
            </ul>
            <ul>
                <li class="footer-title" id="company">Company</li>
                <br>
                <br>
                <a href="#" class="link">
                    <li>About</li>
                    <li>FAQ</li>
                    <li>Collaboration</li>
                    <li>Contact</li>
                </a>
            </ul>
            <ul>
                <li class="footer-title" id="social">Social</li>
                <br>
                <br>
                <a href="#" class="link">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>X</li>
                    <li>email@gmail.com</li>
                </a>
            </ul>
            <ul>
                <li class="footer-title" id="legal">Legal</li>
                <br>
                <br>
                <a href="#" class="link">
                    <li>Shipping Policy</li>
                    <li>Return & Exchange</li>
                    <li>Term of Use</li>
                    <li>Support</li>
                </a>
            </ul>
        </div>
        <div id="bottom-image">
            <img src="/urbanTrend/static/images/pexels-amanjakhar-2048548.jpg" alt="">
        </div>
    </footer>
</body>
</html>